
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.row {
    width: 100%;
    
}
/* barra laterale utente */
aside {
    background-color: black;
    color:#606368 ;
    padding-left: 30px;
    padding-top:30px;
    text-transform: capitalize;
    font-size: 20px;
    height: 100vh;
    min-width: 250px;
    
}
aside nav div {
    margin: 10px 0;
}
aside nav {
    margin: 20px 0;
}
.aside-container {
    min-height:480px;
    height: calc(100% - 100px);
}
.bottom-aside {
    height: 80px;
    width: 100%;
    padding-right: 30px;
    background-color: black;
}
.bottom-aside h3{
    margin: 5px 0;
}
.top-aside {
    height: 400px;
    width: 100%;
}
.logo {
    width: 100%;
}
.logo img {
    width: 60%;
}
.plus i  {
    transform: scale(3);
    margin: 0 20px;
}
.plus-playlist {
    overflow-y: hidden;
    height: 100%
}
.list-playlist {
    overflow-y: auto;
    height:84%;
    margin-top: 30px; 
}
.list-playlist li {
    margin: 10px 0;
}





/* corpo libreria mus */
h2 {
    color: white;
    font-size: 35px;
    text-transform: capitalize;
}
h3, h5 {
    text-transform: capitalize;
    font-size: 18px;
    margin: 15px 0px;
    color:white;
}

h5 {
    color: #606368;
}
h6 {
    font-size:19px ;
    color: white;
}
.libreria {
    background-color: #141922;
    height: calc(100vh - 100px);
    min-width: cac;
    max-width: calc(100% - 250px);
    overflow-y: scroll;
}
img {
    width: 100%;
}
/* bottone upgrade */
.upgrade {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    position: fixed;
    width: 84%;
    z-index: 999;
}
.upgrade a {
    text-transform: uppercase;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    margin: 25px 70px;
    padding: 5px 30px;
    font-size: 25px;
}
/* nav ricerca macroguppi */
.col-xs-12 ul li {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    padding-top: 100px
}
.col-xs-12 ul li a {
    color: #606368;
    font-weight: bolder;
    text-transform: uppercase;
}

/* riprodotti di recente / artisti popolari */
.selezione {
    text-align: center;
    padding: 10px;
}
.titolo{
    margin: 30px 15px;
}
.bottom-footer {
    margin-bottom:100px;
}

/* footer */
footer {
    background-color: #282828;
    font-size: 10px;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 998;
    top: calc(100% - 100px);
    left: 0;
}
footer div {
    height: 100px;
}
.nav-player,.play-status,.setting-nav a{
    color:white;
}
/* section brano */
#album-mini {
    width: 50px;
    height: 50px;
}
.container-items {
    margin: 0 5px;
    display: flex;
    align-items: center;

}
.left-box-brano {
    display: flex;
}
.title-player {
    height: 50%;
    color: #606368;
    font-weight: bold;
}
.container-items i {
    font-size: 30px;
    color: #606368;
    margin: 0 5px;
}

/* section nav player */
.nav-player {
    height: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.nav-player a:nth-child(3) i {
    font-size:35px
}
.nav-player i{
    margin: 15px
}
.play-status {
    height: 50%;
    width: 100%;
    display: flex;
    line-height: 50px;
    font-size: 12px
}
.play-status div {
    display: inline-block;
    width: 100%;
    margin: 20px ;
}
.played {
    width: 30%;
    border: 3px solid white;
    border-radius: 20%;
    margin-bottom: 2px;
}
.play{
    border: 2px solid;
}
.setting-nav {
    height: 0px;
    width: 80%;
    display: flex;
    text-align: end;
    line-height: 50%;
    font-size: 15px;
}
.setting-nav a {
    margin: 0 10px;
}
.volume {
    width: 100%;
}

