/* barra laterale utente */
.nav-utente {
    background-color: black;
    min-height:100vh;
}

/* corpo libreria mus */
h2 {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
h3, h5 {
    text-transform: capitalize;
    margin: 7px 0px;
}

h5 {
    color: #606368;
}
.libreria {
    background-color: #141922;
}
img {
    width: 100%;
}
/* bottone upgrade */
.upgrade {
    background-color: #080b12;
}
.upgrade a {
    text-transform: uppercase;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    margin: 30px 10px;
    padding: 5px 30px;
}

/* nav ricerca macroguppi */
.col-xs-12 ul li {
    display: inline-block;
    margin: 15px;
}
.col-xs-12 ul li a {
    color: #606368;
    font-weight: bolder;
    text-transform: uppercase;
}

/* riprodotti di recente */
.selezione {
    text-align: center;
    padding: 10px;
}
.selezione h3 {
    color: white;
}
.titolo{
    margin: 30px 15px;
}


/* footer */
footer {
    background-color: #282828;
    height: 10vh;
}