main {
    height: calc(100% - 100px);
}
.row {
    width: 100%;
}
/* barra laterale utente */
aside {
    background-color: black;
    color:#606368 ;
    padding: 30px;
    text-transform: capitalize;
    font-size: 30px;
}
.aside-container {
    min-height:480px;
    height: 100%;
}
#logo {
    width: 60%;
}
aside nav div {
    margin: 30px 0;
}
aside nav {
    margin: 50px 0;
}
.plus {
    
}
.plus i  {
    transform: scale(3);
    margin: 0 24px;
}







/* corpo libreria mus */
h2 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
}
h3, h5 {
    text-transform: capitalize;
    font-size: 30px;
    margin: 15px 0px;
    color:white;
}

h5 {
    color: #606368;
}
.libreria {
    background-color: #141922;
}
img {
    width: 100%;
}
/* bottone upgrade */
.upgrade {
    background-color: #080b12;
}
.upgrade a {
    text-transform: uppercase;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    margin: 50px 35px;
    padding: 5px 30px;
    font-size: 30px;
}
/* nav ricerca macroguppi */
.col-xs-12 ul li {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
}
.col-xs-12 ul li a {
    color: #606368;
    font-weight: bolder;
    text-transform: uppercase;
}

/* riprodotti di recente */
.selezione {
    text-align: center;
    padding: 10px;
}
.titolo{
    margin: 30px 15px;
}


/* footer */
footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
}